/*
Original design: Basic Profile (alt) (v1.0 - March 23rd, 2011) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-profile/
Icons from http://iconza.com/
*/

*{margin:0; padding:0;}
body {background:#fff url(background.jpg) top center no-repeat; color:#303030; font:84% Arial,Helvetica,sans-serif; line-height:1.6em;}
a {color:#a51208; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p,ul,ol,dl {margin:0 0 30px 0;}
h1 {color:#a51208; font-size:3em; line-height:1.1em; letter-spacing:-3px; margin:20px 0 0 0;text-shadow:#888 2px 2px 3px;}
h1 a {color:#a51208; text-transform:none;}
h2 {font-size:2.2em; color:#a51208; margin:0 0 20px; letter-spacing:-1px; border-bottom:2px solid #333; padding-left:40px;}
h3 {font-size:1.8em; color:#a51208; margin:10px 0 15px 0; letter-spacing:-1px; border-bottom:2px solid #333; padding-left:40px;}
h1,h2,h3 {font-weight:700; line-height:1.4em;}
#wrap {color:#; margin:20px auto; padding:0; width:980px;}
#header {width:400px; margin:0 0 20px 0;}
#menu {width:540px; float:right;}
#menu ul {list-style:none; margin:0; line-height:1.3em; padding:10px 0 0 0;}
#menu li {width:180px; display:block ; float:left; font-size:1em; margin:0 0 10px 40px; padding:0 0 10px 40px; color: #333;}
#menu li a {font-size:1.2em;}
#content {text-align:left; width:600px; padding-right:40px;}
#sidebar {float:right; width:280px; padding-left:40px; border-left:2px solid #333; }
#sidebar img {margin:0 0 30px 0;}
#sidebar ul {list-style:none; margin:0; line-height:1.3em; padding:10px 0 0 0; border-top:1px solid #333;}
#sidebar li {list-style:none; font-size:1em; margin:0 0 10px; padding:0 0 10px 40px; color:#; border-bottom:1px solid #333;}
#sidebar li a {font-size:1.2em;}
#sidebar h2 {font-size: 1.4em;}
.slogan {color:#888; font-size:1.4em; font-weight:700; margin:0 0 20px 0; letter-spacing:-1px;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {display:block; font-weight:700; color:#888; text-align:right; width:150px; padding:20px 20px 20px 0; float:left; margin:0 20px 20px 0; border-right:2px solid #eee;}
.timestamp a {font-weight:normal;}
.credits {display:block; clear:left; font-size:0.9em; color:#aaa; margin:20px 0;}
.credits a {color:#888;}
.clear {clear:both; visibility:hidden; height:20px;}
.icon-home {background: #fff url(images/icons/house_32x32.png) top left no-repeat;}
.icon-bio {background: #fff url(images/icons/user_32x32.png) top left no-repeat;}
.icon-cv {background: #fff url(images/icons/link_32x32.png) top left no-repeat;}
.icon-contact {background: #fff url(images/icons/mail_32x32.png) top left no-repeat;}
.icon-blog {background: #fff url(images/icons/edit_32x32.png) top left no-repeat;}
#contactform input {width:280px;background-color:#222;color:#eee;border:1px solid #555;padding:5px;}
#contactform #message {width:460px;background-color:#222;color:#eee;border:1px solid #555;padding:5px;}